.home {
  margin: 2rem 0;

  @media (max-width: 768px) {
    margin: 0;
  }

  .news-paper-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
  }

  .selected-page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(54, 47, 47, 0.716);
    overflow: scroll !important;
  }
}
