@use "../../styles/variables" as var;

.header {
  background: var.$primary-color;
  color: var.$light-gray;
  display: flex;
  align-items: center;
  min-height: 3.2rem;
  width: 100%;

  .menu-icon {
    color: var.$white;
    padding: 0 1rem;
    font-size: 1.4rem;
  }

  .brand-logo {
    width: 4rem;
    // height: 100%;
    padding: 0.3rem 0.8rem;
  }

  .date-picker {
    padding: 0.3rem 0.8rem;
    font-weight: 800;

    span {
      color: var.$white;
      padding-left: 0.5rem;
    }
    .fa-calendar-days {
      color: var.$white;
    }
  }

  .menu {
    flex: 1;
  }
}
