@use "../../styles/variables" as var;

.date-picker-container {
  position: relative;

  .date-picker-input {
    span {
      color: var.$white;
      padding-left: 0.5rem;
    }
    .fa-calendar-days {
      color: var.$white;
    }
  }

  .calendar {
    position: absolute;
    top: 21px;
    left: -175px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: var.$card-shadow;
    width: 273px;
    z-index: 10;

    .calendar-header {
      text-align: center;
      padding: 10px;
      background: var.$primary-color;
      color: var.$white;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      button {
        background: none;
        border: none;
        color: var.$white;
        font-size: 16px;
        cursor: pointer;
        padding: 5px;

        &:hover {
          color: var.$primary-color;
        }

        &:focus {
          outline: none;
        }
      }

      span {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .calendar-body {
      padding: 10px;

      .day-labels {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        gap: 5px;

        .date {
          padding: 8px;
          background: var.$secondary-color;
          border-radius: 4px;
          cursor: pointer;
          transition: background 0.3s;
          color: var.$primary-color;

          &:hover {
            background: var.$primary-color;
            color: var.$white;
          }

          &:active {
            background: var.$primary-color;
            color: var.$white;
          }
        }

        .empty {
          visibility: hidden;
        }
      }
    }
  }
}
